server {
    listen 80;
    server_name aqualight.robix;

    location / {
        proxy_pass         http://127.0.0.1:5175;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_read_timeout 30;
    }
}
